@import "~/node_modules/bootstrap/scss/bootstrap.scss";
@import "@/assets/scss/partials/common";
@import "@/assets/scss/partials/utility";
@import "@/assets/scss/partials/animation";

.splash {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url("@/assets/img/fss-demo-main.jpg");
  animation: bounce-in 4s linear;
}

@media screen and (min-width: 2000px) {
  .title_me {
    h2 {
      font-size: 42px !important;
      margin-bottom: 1.5rem !important;
    }
    &:hover .gold_line {
      animation: lungo 2s ease-in;
    }
    p {
      font-size: 24px !important;
      margin-bottom: 6rem !important;
    }
  }
}

