body {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  color:currentColor
}
img{
  max-width: 100%;
  max-height: 100%;
}
