/* Button */
.btn_nav {
  padding: 0.25rem 1.5rem;
}
.btn_empty_light{
    border: 2px solid $text-light;
    color: $text-light;
}
.btn_empty_primary{
    border: 2px solid $primary-color;
    color: $primary-color;    
}
.btn_me{
    font-size: 12px;
    padding: 0.5rem 1.5rem;
}

.btn_full_primary{
    background-color: $primary-color;
    color: $text-light;
}
.btn_full_secondary{
  background-color: $secondary-color;
  color: $text-light;
}
/* Background */
.bg_gold {
  background-color: $primary-color;
}
.bg_pink {
  background-color: $secondary-color;
}
/* Line */
.gold_line{
    height: 3px;
    width: 145px;
    background-color: $primary-color;
}